.skills-section {
    padding: 2rem;
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
}

.progressbar {
    margin-bottom: 1.5rem;
}

.progress-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.progress {
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
}

.progress-bar {
    background-color: #ffc107;
    height: 100%;
    transition: width 0.6s ease;
}
.highlights{
    margin-left: 10%;
    margin-top: 5px;
}
.header{
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    color: rgb(34, 34, 34);  
}
.header2{
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    color: white;
}
.segment2{
    background-color: #F5AF00;
    display: flex;
    padding: 50px;
    padding-left: 150px;
}
.button-container{
    margin-left: 100px;
    margin-top: 5px;

}
.button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    background-color: #F5AF00;
    border-color: white;
    color: white;
    border-color: white;
}