/* Only apply these margins on large screens */
@media (min-width: 1024px) {
    .Sub-Section {
        margin-top: 70px;
    }
    .Button-1 {
        margin-right: 50px;
    }
}

.Main-Section{
    margin-bottom: 50px;
}
.Second-Section{
    padding-top: 30px;
}
