.nav-link {
    display: flex !important;
    align-items: center !important;
    height: 100%;
    transition: color 0.3s ease, transform 0.2s ease;
}

.nav-link:hover {
    transform: translateY(-1px); /* Very subtle lift effect on hover */
}

/* Ensure the container of the links doesn't add weird gaps */
.navbar-nav {
    display: flex;
    align-items: center;
}
.Contact-button{
    margin-bottom: 17px;
    margin-left: 5px;
}